.bpro {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .bpro {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:550px;
    }
}
    

.bpro .bpro-head {
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    color: #3498DB;
}


.blog-sq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
}

@media screen and (max-width: 500px) {
    .blog-sq {
        grid-template-columns: 1fr;
        margin-top: -20px;
    }
    
}

.blog-1 {
    height: 300px;
    width: 400px;
    margin-top: 100px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    justify-self: center;
}   


.img-1 img {
    width: 100%;
    height: 100%;
}

.img-2 img {
    width: 100%;
    height: 200px;
}

.topic {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding: 0 50px;
    transition: .3s;
    color: #fff;
}

.topic:hover {
    color: #3498DB;
}

.topic a {
    text-decoration: none;
    color: inherit;
}
